body {
  background-color: #33f072;
  background-image:image(img/kk3.jpg);
  height: 500px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 }
.one{
  font-style:oblique;
  text-decoration: underline;
  color: blueviolet;
}
.four{
  display: none;
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: rgb(37, 2, 233); 
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px; 
  }

.four:hover {
  background-color: rgb(235, 214, 30);
  }